.image-left {
    float: left; 
    margin: 0 10px 10px 0; 
    width: 125px; 
    height: 125px;
}

.image-right {
    float: right; 
    margin: 0 10px 10px 0; 
    width: 125px; 
    height: 125px;
}

.text-content {
    margin-right: 160px; 
}