.footer{
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: relative; 
    clear: both; 
}

.footer :hover{
    color: purple;
}
