.footer {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    height: auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: relative; 
    clear: both;
}

.footer a {
    color: inherit; 
    padding: 5px 15px; 
}

.footer a:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 40rem) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px 0; 
    }

    .footer a {
        display: block; 
        margin: 5px 0;
    }
}
